  <!-- Static header -->
<ng-include src="'partials/header.html'" ></ng-include>
 <!-- start page -->
<div class="row">
  <div class="col-md-12 col-xs-12" style="background:#48cfae; width:100%;">
  	<div class="row" style="margin:34% 0 34% 0;width:100%;">
  		<center>
        <div id="page-header" >
 			    <font style="color:#f8f8f8;background:#48cfae;"><h1>Welcome to Bookshelf!</h1></font>
		    </div>
      <center>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12" style="width:100%;">
    <div class="row">
      <div id="stuff" class="jumbotron" style="padding:1% 0 0 0;margin:0 0 0 0;">
        <div class="row">
          <center>
              <font style="color:#777777;"><h2 style="margin:0 0 0 0;">Our team</h2></font>
              <div class="row">
                <div class="col-md-3 col-xs-12">                  
                  <img src="images/animal.jpg" alt="nej" class="img-circle" width="50%" style="margin: 2% 2% 5% 2%">
                </div>
                <div class="col-md-3 col-xs-12">                  
                  <img src="images/stina.jpg" alt="nej" class="img-circle" width="50%" style="margin: 2% 2% 5% 2%">
                </div>
                <div class="col-md-3 col-xs-12">                  
                  <img src="images/chrille.jpg" alt="nej" class="img-circle" width="50%" style="margin: 2% 2% 5% 2%">
                </div>
                <div class="col-md-3 col-xs-12">                  
                  <img src="images/bella.jpg" alt="nej" class="img-circle" width="50%" style="margin: 2% 2% 5% 2%">
                </div>
        
              </div>

          </center>
        </div>
      </div>  
    </div>
  </div>
</div>         
              

